.filter {
    margin-top: -40px;
}

.round {
    border-radius: 7px;
}

.layoutfixed {
    height: 125px;
}

.dropdown input{
    position: relative;
    cursor: pointer;
    width: 100%;
    border: none;
    outline: 1px solid #ccc;
    padding: 7px 25px 7px 7px;
    border-radius: 3px;
}

.dropdown#tanggal input{
    padding: 7px 7px;
}

.dropdown .option {
    position: absolute;
    overflow: hidden;
    display: none;
    background:white;
    border-radius: 3px;
    width: 100%;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
    z-index: 999;
}

.dropdown .option p{
    position: absolute;
    display: initial;
    justify-content: right;
    padding-right: 7px;
    right: 0;
}

.dropdown.active .option {
    display: block;
}

.dropdown.active input{
    outline: 1px solid #5cb85f;
}

.dropdown .option div {
    padding: 12px 7px 12px 7px;
    cursor: pointer;
}

.dropdown .option div:hover{
    background: #c9e7ca;
    color: #5cb85f;
    font-weight: 400;
    border-radius: 3px;
}

.icon{
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0;
    padding-right: 5px;
    padding-top: 8px;
}

.icon.active{
    top: 4px;
    right: 5px;
    transform: rotate(180deg);
}

.cardheight{
    height: auto;
}

.card-img-top{
    width: auto;
    height: 250px;
    object-fit: cover;
}